.navbar {
  display: flex;
  height: 60px;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  justify-content: center;
}

.navbar_items {
  display: flex;
  align-items: center;
}

.navbar_items:hover {
  cursor: pointer;
}

.navbar_items:hover > .navbar_title {
  color: #bc3484;
}

.logo {
  position: relative;
  display: block;
  height: 16px;
  width: 16px;
  background-color: #bc3484;
  border-radius: 50%;
  margin-right: 6px;
}
